{#
/**
 * @file
 * Spotify artists block.
 *
 * Available variables:
 * - artists: An array of artist information.
 *   - name: The name of the artist.
 *   - id: The Spotify ID for the artist.
 *   - url: The URL object for the artist detail page (only for logged-in users).
 */
#}
{% if artists %}
  <div class="spotify-block">
    <h2>{{ 'Featured Artists'|t }}</h2>
    <ul class="artist-list">
      {% for artist in artists %}
        <li class="artist-item {{ artist.url ? 'has-link' : '' }}">
          {% if artist.url %}
            <a href="{{ artist.url }}">
              <i class="spotify-icon"></i>
              {{ artist.name }}
              <span class="arrow-icon"></span>
            </a>
          {% else %}
            <div class="artist-name">
              <i class="spotify-icon"></i>
              {{ artist.name }}
            </div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
{% else %}
  <p class="empty-message">{{ 'No artists found.'|t }}</p>
{% endif %}